{extends file="../Public/base.html" }
{block config}
    {$title = "找驴友"}
    {$cssArr = array("/tourpal/main")}
    {$mainjs = "/test/test"}
{/block}
{block content}
    <header class="bar bar-nav">
   		<nav>
        <span class="title">上传图片拉</span>
        </nav>
    </header>
    <div class="page-content">
        <br>
        <textarea rows="5"></textarea>
    	<button class="btn btn-negative btn-block btn-outlined" style="width:95%;margin:0 auto;">showPhoto</button>
        <a href="ly.elong.com/Webview/index/hotcity"></a>
    </div>
{/block}

