{extends file="../Public/base.html" }
{block config}
    {$title = "找驴友运营后台"}
    {$cssArr = array('css/common/main')}
    {$mainjs = ""}
{/block}
{block content}
    {include '../Module/nav.html'}
    <div class="container tourpal-content">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

   </div>
{/block}
