 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{$title}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index.php/admin/PostManage">帖子管理</a></li>
            <li><a href="/index.php/admin/Feedback">用户反馈</a></li>
            <li><a href="/index.php/admin/Analysis">数据统计</a></li>
              <li><a href="/index.php/admin/ImageManage">图片管理</a></li>
              <li><a href="/index.php/admin/HomePage">主页管理</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" style="width:160px;">当前用户: {{$username}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/index.php/admin/Login/loginOut">退出</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
</nav>