//
// Toggle styles (to be used with toggles.js)
// --------------------------------------------------

.toggle {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  @include transition-property(background-color, border);
  @include transition-duration(.2s);

  // Sliding handle
  .toggle-handle {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    -webkit-transition-property: -webkit-transform, border, width;
       -moz-transition-property: -moz-transform, border, width;
            transition-property: transform, border, width;
    @include transition-duration(.2s);
  }
  // Active state for toggle
  &.active {
    background-color: #f9594f;
    border: 2px solid #f9594f;

    .toggle-handle {
      border-color: #f9594f;
      @include transform(translate3d(30px,0,0));
    }
  }
  // Hide the checkbox
  input[type="checkbox"] {
    display: none;
  }
}
