.icon-share:before {
	content: "\e600";
}

.icon-people:before {
	content: "\e601";
}

.icon-home:before {
	content: "\e602";
}

.icon-check:before {
	content: "\e603";
}

.icon-cash:before {
	content: "\e604";
}

.icon-back:before {
	content: "\e605";
}




