{extends file="../Public/base.html" }
{block config}
    {$title = "找驴友运营后台"}
    {$cssArr = array('css/common/main')}
    {$mainjs = "page/Analysis/index"}
{/block}
{block content}
    {include '../Module/nav.html'}
    <div class="container tourpal-content">
      <form class="form-inline" id="query">
        <div class="form-group">
          <label for="exampleInputPassword1">开始日期：</label>
          <input type="date" class="form-control" name="startTime" value="{$startTime}">
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">结束日期：</label>
          <input type="date" class="form-control" name="endTime" value="{$endTime}">
        </div>
        <button id="submit" class="btn btn-default">查询</button>
      </form>
      <div class="page-header">
        <h1>统计结果</h1>
      </div>
      <span id="total_post" class="item-total">总发帖数 <b>0</b> </span> <span class="item-total total_city">覆盖城市数 <b>0</b> </span>
      <div id="charts"></div>
      <table class="table table-striped" id="datatable">
            <thead>
              <tr>
                <th width="20">城市</th>
                <th width="20">发帖数</th>
              </tr>
            </thead>
            <tbody  id="post_list">
             
            </tbody>
      </table>
      <span class="item-total total_city">共 <b>0</b> 条</span>
      <ul id="page"></ul>
   </div>
  {literal}
   <script type="text/template" id="post_list_tpl">
     {{each list as item idx}}
     <tr>
        <th>{{item.place}}</th>
        <td>{{item.num}}</td>
     </tr>
     {{/each}}
   </script>
  {/literal}
{/block}
